.cart-wrap {
  .cart-item-fade-enter {
    opacity: 0;
  }
  .cart-item-fade-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  .cart-item-fade-exit {
    opacity: 1;
  }
  .cart-item-fade-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }
  //
  .td-sm-width {
    width: 53px;
  }
  .td-md-width {
    min-width: 153px;
  }
  .td-lg-width {
    min-width: 417px;
  }
}
