.not-found-wrap {
  height: calc(100vh - 261px);
  p {
    font-size: 36px;
  }
}
@media screen and (min-width: 500px) {
  .not-found-wrap {
    p {
      font-size: 60px;
    }
  }
}

@media screen and (min-width: 768px) {
  .not-found-wrap {
    height: calc(100vh - 203px);
  }
}
