.panel-wrap {
  z-index: -1;
  transition: 0.3s;
  position: fixed;
  .over-layer {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s;
  }
  .panel {
    overflow-y: scroll;
    position: fixed;
    width: 300px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 999;
    margin-left: -300px;
    transition: 0.3s;
    .panel-head {
      .close-icon {
        cursor: pointer;
      }
    }
  }
  &.active {
    z-index: 9999;
    .over-layer {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .panel {
      margin-left: 0px;
    }
  }
}

@media screen and(min-width:768px) {
  .panel-wrap {
    .panel {
    width: 380px;
    margin-left: -380px;
    }
  }  
}