.product {
  & > div {
    height: 100%;
  }
  figure {
    .no-stock-layer {
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: rgba(255, 255, 255, 0.8);
      overflow: hidden;
      span {
        font-size: 28px;
        transform: rotate(-45deg);
        white-space: nowrap;
      }
    }
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      object-position: center;
    }
  }
  .edit-btn {
    width: 32px;
    height: 32px;
    top: 10px;
    right: 10px;
    i {
      transform: translateX(1.5px);
    }
  }
  .product-info {
    height: 88px;
    overflow: hidden;
  }
  .add-to-cart-btn {
    width: 32px;
    height: 32px;
    i {
      transform: translateX(1.5px);
    }
  }
}
