.register-wrap {
  min-height: 100vh;
  form {
    min-width: 300px;
    .form-group {
      input {
        padding-left: 40px;
      }
      i {
        font-size: 20px;
        left: 10px;
        bottom: -36px;
      }
    }
    .btn-wrap {
      a,
      button {
        width: 48%;
      }
    }
  }
}
@media screen and (min-width: 500px) {
  .register-wrap {
    form {
      min-width: 400px;
    }
  }
}
@media screen and (min-width: 768px) {
  .register-wrap {
    form {
      .form-group {
        i {
          bottom: -38px;
        }
      }
    }
  }
}