.register-wrap {
  min-height: 100vh;
  form {
    min-width: 400px;
    .form-group {
      input {
        padding-left: 40px;
      }
      i {
        font-size: 20px;
        left: 10px;
        bottom: -38px;
      }
    }
    .btn-wrap {
      a,
      button {
        width: 48%;
      }
    }
  }
}
