@charset 'utf-8';
// custom style
$primary: #272727;
// default style
@import "~bootstrap/scss/bootstrap";
//
@import "./_loginPage.scss";
@import "./_notFoundPage.scss";
@import "./_cartPage.scss";
@import "./_productToolBox.scss";
@import "./_product.scss";
@import "./_products.scss";
@import "./_panel.scss";
@import "./_addInventory.scss";
@import "./_editInventory.scss";
// global style
input,
button,
textarea,
option,
select,
body {
  letter-spacing: 0.2rem;
}
body {
  min-height: 100vh;
  background-color: #f8f9fa !important;
}
//
